DO $ $ 
DECLARE
  v_test_order_id uuid;
BEGIN
  SELECT id INTO v_test_order_id FROM orders WHERE status = 'pending' LIMIT 1;
  IF v_test_order_id IS NOT NULL THEN
     RAISE NOTICE 'Testing cancel order: %', v_test_order_id;
     PERFORM cancel_order(v_test_order_id, 'Test Cancellation via script');
     RAISE NOTICE 'Cancel order executed without throwing exception';
  ELSE
     RAISE NOTICE 'No pending order found to test on';
  END IF;
END $ $;
